body {
    font-family: 'Montserrat', sans-serif;
}

header h1 {
    font-size: calc(35px + (70 - 35) * ((100vw - 300px) / (1600 - 300)));;    
    text-align: center;
    color: #454442;
    padding-top: 30px;
}

nav {
    margin-bottom: 50px;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px;
}

nav li {
    color: #454442;
    font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));;    
    list-style-type: none;
    text-align: center;
    font-weight: bold;
    padding: 5px 20px;
}

.about-me {
    padding-top: 40px;
    padding-bottom: 60px;
    background-image: url('pink-background-image.jpeg')
}

.photos {
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
    padding: 15px 30px;
}

.section-title {
    text-align: center;
    margin-bottom: 19px;
    color: #454442;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0 40px;
    flex-wrap: wrap;
}

p {
    font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));;
    text-align: center;
}

#about-me-text {
    max-width: 500px;
    color: #454442;
}

.projects {
    margin-top: 80px;
    margin-bottom: 80px;
}

#projects-list {
    padding-right: 40px;
    color: #454442;
    font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));;
    text-align: center;
}

.contact-info {
    padding-top: 50px;
    padding-bottom: 60px;
    background-image: url('purple-background2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #454442;
    text-align: center;
}

#contact-me-title {
    padding-bottom: 20px;
}

.contact-info p {
    margin: 15px 30px;
}

.skills {
    margin-top: 80px;
    margin-bottom: 80px;
}

#skills-title {
    margin-bottom: 30px;
}

.icon {
    max-height: 100px;
    max-width: 100px;
}

footer li {
    list-style-type: none;
}

@media only screen and (max-width: 480px) {
    .photos {
      width: 75%;
      height: 75%;
    }
  }

